.el-notification {
  background-color: $white-100;
}

.custom-el-message-1 {
  letter-spacing: 0.6px;
}

.el-tabs {
  &.authentication {
    .el-tabs {
      &__header {
        .el-tabs {
          &__item {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.el-dropdown-menu {
  &.header {
    letter-spacing: 1.2px;
  }
}

.request-alert {
  .el-alert {
    &__description {
      font-size: 15px;
    }
  }
}
