.el-loading-parent--relative {
  height: 200px;

  &#loading {
    margin-top: 30px;
  }
}

.el-input {
  &__suffix {
    color: #42b983;
  }
}

.el-loading-mask.is-fullscreen {
  .el-loading-spinner {
    .el-loading-text {
      font-size: 18px;
    }
  }
}
